{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-grow">
  <div class="col-12 py-4">
      <h5 class="text-primary hidden-sm-down my-5">(Fixed-position)-(Fluid)-(Fixed-width) <span class="small">(alt "Holy Grail" Layout)</span></h5>
      <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings \n    flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral \n    fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, \n    Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
      <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings \n    flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral \n    fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, \n    Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
      <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings \n    flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral \n    fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, \n    Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
      <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings \n    flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral \n    fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, \n    Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
      <div class="row">
          <div class="col-xl-3 col-md-6">
              <div class="card card-block mb-2">
                  <h2 class="text-center"><span class="label label-danger">Snippets</span></h2>
                  <h1 class="text-center">311</h1>
              </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-2">
              <div class="card card-block">
                  <h2 class="text-center"><span class="label label-danger">Downloads</span></h2>
                  <h1 class="text-center">982</h1>
              </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-2">
              <div class="card card-block">
                  <h2 class="text-center"><span class="label label-danger">Sales</span></h2>
                  <h1 class="text-center">112</h1>
              </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-2">
              <div class="card card-block">
                  <h2 class="text-center"><span class="label label-danger">Questions</span></h2>
                  <h1 class="text-center">209</h1>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
