.silver-bg {
    background-color: #bdbdbd !important;
}

.prussian-blue-bg {
    background-color: #003b6d !important;
}

.picton-blue {
    background-color: #6699cc;
}

.solitude {
    background-color: #ebedf3;
}

.dim-gray {
    background-color: #676767;
}
